ul {
	list-style-type: none;
	font-size: 2vh;
	float: left;
}

.value {
	font-weight: bold;
	font-size: 4vh;
	margin-right: 15px;
}

.square {
	height: 1.3vh;
	width: 2vh;
	background-color: red;
	display: inline-block;
	margin-right: 15px;
}


#page {
	width: 80%;
	margin: auto;
	background-image: linear-gradient(#fafafa, #C8C8C8);
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}


#data {
	width: 40%;
	align-self: center;
}

#visual {
	width: 40%;
	align-items: center;
}

#help {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
	text-align: center;
}

@media (max-width: 1000px) {
	#page {
		display: block;	
		width: 100%;
	}
	#data {	
		width: 100%;
	}
	#visual {
		width: 100%;
	}
 }